@import 'src/css/helpers';

.plot--vx {
  > svg {
    border: 1px solid lightgray;
  }

  .vx-axis-line {
    fill: transparent;
    stroke: black;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    shape-rendering: crispEdges;
  }

  .vx-axis-tick {
    .vx-line {
      fill: transparent;
      stroke: black;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      shape-rendering: crispEdges;
    }
  }
}
