@import 'src/css/helpers';

@import 'PlotSemiotic';
@import 'PlotVictory';

body {
  padding: 1em;
}

.constraint {
  margin: 0 auto;
  max-width: 80em;
}

.form-inline {
  margin: 1em auto;

  label {
    margin-right: .25em;
  }

  .form-group {
    margin-right: 2em;
  }
}

.plot {
  margin: 1em auto;
}

@include breakpoint(80em) {
  .plots {
    display: flex;
    flex-flow: row nowrap;
  }

  .plot {
    flex: 0 0 50%;
    margin: 0;
  }
}
